.form-container {
  max-width: 400px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: transform 0.3s ease-in-out;
}

h1 {
  text-align: center;
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
select {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}

input:focus,
select:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #5767aa;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #29335c;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #5767aa;
}

.form-container:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 48px 0 rgba(31, 38, 135, 0.57);
}

p {
  margin: 10px 0;
  font-size: 16px;
  display: grid;
  text-align: start;
}

p a {
  color: #5767aa;
  text-decoration: none;
}

p a:hover {
  color: #29335c;
  cursor: pointer;
  text-decoration: underline;
}

.password-input{
  width: 100%;
}

.password-toggle-button{
  background: none;
  color: #29335c;
  padding: 0%;
}

.password-toggle-button:hover{
  background: none;
  color: #5767aa;
  padding: 0%;
}

.password-input-container{
  display: flex;
  justify-content: space-between;
}

input.error,
select.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}


