rules_version = '2';
service firebase.storage {
  match /b/tu-magazine.appspot.com/o {
    match /{allPaths=**} {
      allow read, write;
    }
  }
}
